Repository sgarretson/FlowVision, changes with the labels that .github/labeler.yml gives for each.
All labels: feature, backend, frontend, ai, qa, a11y

chore(agents): Scaffold orchestrator directory with README and env example
  apps/orchestrator/.env.example
  apps/orchestrator/README.md
Labels: none

chore(agents): Add minimal Node/TS orchestrator server with webhook verification
  apps/orchestrator/package-lock.json
  apps/orchestrator/package.json
  apps/orchestrator/src/server.ts
  apps/orchestrator/tsconfig.json
Labels: none

chore(automation): Forward issues/PR events to orchestrator webhook
  .github/workflows/forward-webhooks.yml
Labels: none

docs(issues): Design for #10 AI sub-categorization chips and API
  docs/issue-10-design.md
Labels: none

feat(issues): Add clusterize API and AI clusters chips (#10)
  app/api/issues/clusterize/route.ts
  app/issues/ai-clusters.tsx
  app/issues/page.tsx
Labels: feature, backend, frontend, a11y

chore(analytics): Audit log ISSUE_CLUSTERIZE with summary (#10)
  app/api/issues/clusterize/route.ts
Labels: feature, backend, frontend, a11y

feat(analytics): Add event API and track select-all in clusters (#10)
  app/api/analytics/event/route.ts
  app/issues/ai-clusters.tsx
Labels: feature, backend, frontend, a11y

feat(issues): Persist multi-select via localStorage per user (#11)
  app/issues/page.tsx
Labels: feature, frontend, a11y

fix(a11y-tests): Use undefined for violation callback in checkA11y to satisfy TS (#ci)
  cypress/e2e/admin_a11y.cy.ts
  cypress/e2e/executive_a11y.cy.ts
Labels: qa

.github/labeler.yml:

feature:
  - changed-files:
      - any-glob-to-any-file: ['app/**', 'components/**', 'lib/**', 'app/api/**']
backend:
  - changed-files:
      - any-glob-to-any-file: ['app/api/**', 'lib/**', 'prisma/**']
frontend:
  - changed-files:
      - any-glob-to-any-file: ['app/**', 'components/**']
ai:
  - changed-files:
      - any-glob-to-any-file: ['lib/openai.ts', 'app/api/**/ai/**']
qa:
  - changed-files:
      - any-glob-to-any-file: ['cypress/**', 'tests/**']
a11y:
  - changed-files:
      - any-glob-to-any-file: ['app/**', 'components/**']
